# macOS
.DS_Store

# VS Code
.vscode/

# Python
venv/
__pycache__/
*.pyc

# env files
.env
backend/results.txt
backend/results.csv
backend/simulation_graph.png
backend/__pycache__/auto.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
backend/__pycache__/main.cpython-313.pyc
