:root {
  /* Color palette */
  --dark01: #1E1E1E;
  --dark02: #212121;
  --mid: #5D5D5D;
  --light02: #A9A9A9;
  --light01: #FBFFFE;
  --accent01: #E9CE2C;
  --accent02: #7EA16B;

  /* Typography */
  --font-size-body: 1rem;
  --font-size-h1: 3rem;
  --font-size-h2: 1.2rem;
  --font-size-h1-sub: 2rem;
  --font-size-button: 1rem;
  --font-size-navbar: 2.5rem;
  --font-weight-light:200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--light01);
  background-color: var(--dark01);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-regular);
}

.h1-sub {
  font-size: var(--font-size-h1-sub);
  font-weight: var(--font-weight-regular);
}

button {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-medium);
}
